<% @posts.each do |post| %>
    <div class="span12 post">
      <h2 class="title">
        <%= link_to post.title, post_path(post, page: params[:page], s: params[:s]) %>
      </h2>

      <div class="body"><%= truncate(post.body, length: 140) %></div>
      <small class="when">Posted on <%= l post.created_at, format: :small %></small>
    </div>
<% end %>

<div id="posts_pagination" class="span10">
  <small>
    <%= page_entries_info @posts %>
  </small>
  <%= paginate @posts %>
</div>
