<div data-magellan-destination="greetings" id="greetings" class="magellan-target"></div>
<div class="row">
  <h2>Greetings</h2>
  <div id="top-panel" class="large-12 columns panel">
    <div class="row">
      <div class="large-2 columns">
        <%= gravatar_image_tag("tiagocis@gmail.com", gravatar: { size: 150 }, alt: "Tiago Amaro", title: "Tiago Amaro", class: "img-circle hide-for-small") %>
      </div>
      <div class="large-2 small-3 columns">
        <i class="icon-github icon-large"></i>
        <%= link_to 'Github', 'http://github.com/tiagoamaro', target: '_blank' %>

        <br>
        <br>

        <i class="icon-github-alt icon-large"></i>
        <%= link_to 'Gists', 'http://gist.github.com/tiagoamaro', target: '_blank' %>

        <br>
        <br>

        <i class="icon-twitter-sign icon-large"></i>
        <%= link_to 'Twitter', 'http://twitter.com/tiagocis', target: '_blank' %>

        <br>
        <br>

        <i class="icon-envelope icon-large"></i>
        <%= link_to 'E-mail', 'mailto:tiagocis@gmail.com' %>
      </div>
      <div class="large-8 small-9 columns">
        <p>
          Hi, my name is Tiago Amaro, and I am a Brazilian developer with interested on Ruby, JavaScript and any geeky thing that leads me to curiosity.
        </p>

        <blockquote>
          The purpose of abstraction is not to be vague, but to create a new semantic level in which one can be absolutely precise
          <cite>Edsger Dijkstra</cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>