<div id="greetings"></div>
<div class="row">
  <h2>Greetings</h2>
  <div id="top-panel" class="large-12 columns panel radius">
    <div class="row">
      <div class="large-3 columns">
        <%= gravatar_image_tag("tiagocis@gmail.com", gravatar: { size: 250 }, alt: "Tiago Amaro", title: "Tiago Amaro", class: "img-circle hide-for-small") %>
      </div>
      <div class="large-9 columns">
        <h2>Tiago Amaro</h2>
        <p>
          Hi, I am a Brazilian developer with interest on <code>Ruby</code>, <code>JavaScript</code> and any <code>geeky</code> thing that leads me to curiosity.
        </p>

        <blockquote>
          The purpose of abstraction is not to be vague, but to create a new semantic level in which one can be absolutely precise
          <cite>Edsger Dijkstra</cite>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div id="contacts" class="large-8 push-3 columns">
        <div class="row">
          <div class="large-3 columns">
            <i class="icon-github icon-2x"> <%= link_to 'Github', 'http://github.com/tiagoamaro', target: '_blank' %></i>        
          </div>
          <div class="large-3 columns">
            <i class="icon-github-alt icon-2x"> <%= link_to 'Gists', 'http://gist.github.com/tiagoamaro', target: '_blank' %></i>        
          </div>
          <div class="large-3 columns">
            <i class="icon-twitter-sign icon-2x"> <%= link_to 'Twitter', 'http://twitter.com/tiagocis', target: '_blank' %></i>        
          </div>
          <div class="large-3 columns">
            <i class="icon-envelope icon-2x"> <%= link_to 'E-mail', 'mailto:tiagocis@gmail.com' %></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>