.container
  #greetings
    %h2 Greetings
    .jumbotron
      .row
        .col-md-3.hidden-sm
          = gravatar_image_tag("tiagocis@gmail.com", gravatar: { size: 250 }, alt: "Tiago Amaro", title: "Tiago Amaro", class: "img-circle hide-for-small")
        .col-md-9
          %h2
            %b Hi, I am Tiago Amaro
          %p
            a Brazilian developer with interest on
            = succeed "," do
              %code Ruby
            %code JavaScript
            and any
            %code geeky
            thing that leads me to curiosity.
          %blockquote
            %p Any fool can write code that a computer can understand. Good programmers write code that humans can understand.
            %small
              %cite Martin Fowler
      .row
        #contacts.col-md-8.col-md-offset-3
          .row
            .col-md-3
              %i.icon-github
              = link_to 'Github', 'http://github.com/tiagoamaro', target: '_blank'
            .col-md-3
              %i.icon-github-alt
              = link_to 'Gists', 'http://gist.github.com/tiagoamaro', target: '_blank'
            .col-md-3
              %i.icon-twitter-sign
              = link_to 'Twitter', 'http://twitter.com/tiagocis', target: '_blank'
            .col-md-3
              %i.icon-envelope
              %a.has-tip{'data-toggle' => 'tooltip', title: 'tiagocis@gmail.com'} E-mail