<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%= root_path %>">Tiago Amaro</a>

      <div class="nav-collapse collapse">
        <%= render_navigation %>

        <form action="<%= posts_search_path %>" method="GET" class="navbar-form pull-right">
          <input class="span2" type="search" name="s" placeholder="Search on blog..." maxlength="<%= Post::SEARCH_MAX_LENGTH %>" value="<%= params[:s] %>">
          <button type="submit" class="btn">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>