<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%= root_path %>">Tiago Amaro</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= nav_link("Home", root_path) %>
          <%= nav_link("Twitter", static_path("twitter")) %>
          <%= nav_link("Know-how", static_path("knowhow")) %>
          <%= nav_link("Blog", posts_path) %>
        </ul>
      </div>
    </div>
  </div>
</div>